@model X.PagedList.IPagedList<Tours>
@using BookingTour.Common
<table style="min-height: 500px;" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Rate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.First().AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Image)" alt="Image"
                         style=" max-width: 100px;height: 100px;" />
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Name)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSeats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                @*<td>
            @{
            var locationName = _context.locations.FirstOrDefault(l => item.Location.Id == l.Id)?.Name;
            @locationName
            }
            </td>*@
               
            </tr>
        }
    </tbody>
</table>
