@model BookingTour.Models.Tours
@inject TourContext _context;
@{
    ViewData["Title"] = "Xóa tour";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://cdn.tailwindcss.com"></script>
<h3 class="text-[20px] font-bold mb-[20px]">Bạn chắc chắn muốn xóa chuyến đi này?</h3>
<div>
    <div class="max-w-[600px] flex flex-col gap-3">
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>

        <div class="flex ">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.Rate)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.Rate)
            </div>
        </div>
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.PriceAdult)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.PriceAdult) VND
            </div>
        </div>
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.PriceChildren)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.PriceChildren)  VND
            </div>
        </div>
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.AvailableSeats)
            </div>
        </div>
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.Slug)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.Slug)
            </div>
        </div>
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.StartDate)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.StartDate)
            </div>
        </div>
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.EndDate)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.EndDate)
            </div>
        </div>
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.Location)
            </div>
            <div class="w-[50%]">
                @{
                    var locationName = _context.locations.FirstOrDefault(l => Model.LocationID == l.Id)?.Name;
                    @locationName
                }
            </div>
        </div>
    </div>
    
    <form class="mt-[24px]" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger bg-[#c82333]" /> |
        <a class="btn btn-primary" asp-action="Index">Quay lại</a>
    </form>
</div>
