@model BookingTour.Models.Tours
@inject TourContext _context;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        


        .vertical-line {
            height: 100%;
            width: 1px;
            background-color: #000; /* Màu sắc của đường line */
            left: 50%; /* Đặt vị trí ở giữa theo chiều ngang */
            transform: translateX(-50%); /* Dịch chuyển để căn giữa */
        }
    </style>
</head>
<body>
    <div class="ml-[50px] mr-[50px]">
        <!-- phan dau nut thanh toan + ten -->
        <div class="flex justify-between grid grid-cols-3 gap-4">
            <div class="col-span-2">
                <div>
                    <!-- name -->
                    <h1 class="text-4xl font-bold text-blue-500">@Model.Name</h1>
                </div>
                <div class="flex mt-[20px]">
                    <!-- star -->
                    <span class="flex items-center bg-[#fdc432] w-[65px] justify-center h-[30px] rounded-[12px] font-bold">
                        @Model.Rate     <i class="fas fa-star"></i>
                    </span>
                    
                </div>

            </div>
            
                <div class="content-center  mt-[20px]">
                    <div class="">
                        <!-- gia tr em + guoi lon -->
                    <p class="text-red-400 font-bold text-[20px]">
                        @string.Format("{0:N0}", Model.PriceAdult ) VNĐ/ Người lớn
                    </p>
                        <p class="text-red-400 font-bold text-[20px]">
                            
                            @string.Format("{0:N0}", Model.PriceChildren ) VNĐ/ Trẻ em
                        </p>
                        

                    </div>
                    <div class="mt-3">  <a asp-action="Booking" asp-route-id="@Model.Id" class="!no-underline block rounded-[12px] w-[240px] h-[50px] bg-red-600 text-center leading-[50px] text-white font-bold">Đặt ngay</a></div>

                </div>
        </div>

        <!-- image -->
        <div class="mt-[50px] grid grid-cols-2 gap-4">
            <img class=" w-full object-cover" src="@Model.Image" alt="">
            @{
                var imgs = _context.image.Where(i => i.TourID == Model.Id);
                foreach (var img in imgs)
                {
                    <img class=" w-full object-cover" src="@img.URL" alt="">
                };
            }
        </div>


        <!-- gio khoi hanh + tap trung -->
        <div class="mt-[50px]   px-[48px] py-[12px] rounded-lg border border-gray-300">
            <div class="text-center text-2xl font-semibold text-blue-500">
                <h3>Thông tin chuyến đi</h3>
            </div>
            <div class="flex mt-[50px] justify-between grid grid-cols-3 gap-4">
                <div class="">
                    <div class="">
                        <p class="inline-block">Khởi hành: </p>
                        <!-- gio khoi hanh -->
                        <p class="inline-block font-bold"> @Model.StartDate</p>
                    </div>
                    <div class="">
                        <p class="inline-block">Ngày tập trung: </p>
                       
                        <p class="inline-block font-bold"> @Model.FocusDay</p>
                    </div>
                    <div class="">
                        <p class="inline-block">Nơi tập trung: </p>
                       
                        <p class="inline-block font-bold"> @Model.FocusPlace</p>
                    </div>
                    <div class="">
                        <p class="inline-block">Thời gian: </p>
                        
                        <p class="inline-block font-bold"> 7 ngay</p>
                    </div>
                    <div class="">
                        <p class="inline-block">Nơi khởi hành: </p>
                       
                        <p class="inline-block font-bold"> @Model.Location.Name</p>
                    </div>
                    <div class="">
                        <p class="inline-block">Số chỗ còn nhận: </p>
                        
                        <p class="inline-block font-bold"> @Model.AvailableSeats</p>
                    </div>
                </div>
                <div class="col-span-2">
                    @* <h5 class="text-lg font-bold text-black-500">Mô Tả</h5> *@
                    <p>
                        @Html.Raw(Model.Description)
                    </p>
                </div>
            </div>
        </div>

        <!-- Lich trình -->
        <div class="container mt-[50px] bg-gray-200 shadow-lg p-6 rounded-lg border border-gray-300">
            <h3 class=" text-center text-2xl font-semibold text-blue-500">Lịch Trình</h3>
            <div class="">
                @Html.Raw(Model.Schedule)
            </div>
        </div>
        <!-- chi tiet tour + giá tour -->
        <div class="flex justify-between mt-[40px]  gap-4">
            <div class="bg-gray-200 shadow-lg p-6  rounded-[12px]">
                <h3 class=" text-center text-2xl font-semibold text-blue-500">Chi tiết Tour</h3>
                <div class="flex mt-[40px] text-center">
                   @Html.Raw(Model.Note)
                </div>
            </div>
            <div class="bg-gray-200 shadow-lg p-6 rounded-[12px] w-[40%]">
                <h3 class=" text-center text-2xl font-semibold text-blue-500">Giá Tour</h3>
                <div class="flex justify-around mt-[40px]">
                    <div class="ml-[10px]">
                        <p class="font-bold mb-[20px]">Loại khách</p>
                        <p>Người Lớn (12 tuổi trở lên) </p>
                        <p>Trẻ em (Dưới 12 Tuổi) </p>

                    </div>
                    <div class="">
                        <p class="font-bold mb-[20px]">Giá Tour</p>
                        <!-- gia nguoi lon -->
                        <p class="text-red-400 font-bold">@string.Format("{0:N0}", @Model.PriceAdult) VNĐ  </p>
                        <!-- gia tre em -->
                        <p class="text-red-400 font-bold">@string.Format("{0:N0}", @Model.PriceChildren) VNĐ  </p>
                    </div>
                </div>

            </div>
        </div>
        <!-- khach san+ nhan vien -->
        <div class="flex justify-between mt-[40px] gap-4">
            <div class="bg-gray-200 shadow-lg p-6 rounded-full w-1/2">
                <h3 class=" text-center text-2xl font-semibold text-blue-500">Thông Tin Khách Sạn</h3>
                <div class="px-4 py-2">
                    <p class="font-bold text-[20px] ">
                        @Model.HotelInfo
                    </p>
                </div>
            </div>
            <div class="bg-gray-200 shadow-lg p-6 rounded-full w-1/2">
                <h3 class=" text-center text-2xl font-semibold text-blue-500">Thông Tin Hướng Dẫn Viên</h3>
                <div class="px-4 py-2">
                    <p class="font-bold text-[20px] ">
                       @Model.HDVName
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
