@model BookingTour.Models.Location

@{
    ViewData["Title"] = "Xóa địa điểm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://cdn.tailwindcss.com"></script>
<h3 class="text-[20px] font-bold mb-[20px]">Bạn chắc chắc muốn xóa địa điểm này?</h3>
<div>
    <div class="max-w-[600px] flex flex-col gap-3">
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>

        <div class="flex ">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.Slug)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.Slug)
            </div>
        </div>
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.CreatedDate)
            </div>
        </div>
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.CreatedBy)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.CreatedBy)
            </div>
        </div>
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.ModifierDate)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.ModifierDate)
            </div>
        </div>
        <div class="flex">
            <div class="w-[50%] font-medium">
                @Html.DisplayNameFor(model => model.ModifierBy)
            </div>
            <div class="w-[50%]">
                @Html.DisplayFor(model => model.ModifierBy)
            </div>
        </div>

    </div>
    
    <form class="mt-[24px]" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger bg-[#c82333]" /> |
        <a class="btn btn-primary" asp-action="Index">Quay lại </a>
    </form>
</div>
