@model BookingTour.Models.Location

@{
    ViewData["Title"] = "Thông tin chi tiết địa điểm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://cdn.tailwindcss.com"></script>
<div class="max-w-[600px] flex flex-col gap-3">
    <div class="font-bold text-[24px]">Thông tin địa điểm @Model.Name</div>
    <div class="flex">
        <div class="w-[50%] font-medium">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="w-[50%]">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <div class="flex ">
        <div class="w-[50%] font-medium">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="w-[50%]">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>
    <div class="flex">
        <div class="w-[50%] font-medium">
            @Html.DisplayNameFor(model => model.Slug)
        </div>
        <div class="w-[50%]">
            @Html.DisplayFor(model => model.Slug)
        </div>
    </div>
    <div class="flex">
        <div class="w-[50%] font-medium">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </div>
        <div class="w-[50%]">
            @Html.DisplayFor(model => model.CreatedDate)
        </div>
    </div>
    <div class="flex">
        <div class="w-[50%] font-medium">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </div>
        <div class="w-[50%]">
            @Html.DisplayFor(model => model.CreatedBy) 
        </div>
    </div>
    <div class="flex">
        <div class="w-[50%] font-medium">
            @Html.DisplayNameFor(model => model.ModifierDate)
        </div>
        <div class="w-[50%]">
            @Html.DisplayFor(model => model.ModifierDate)
        </div>
    </div>
    <div class="flex">
        <div class="w-[50%] font-medium">
            @Html.DisplayNameFor(model => model.ModifierBy)
        </div>
        <div class="w-[50%]">
            @Html.DisplayFor(model => model.ModifierBy)
        </div>
    </div>
    
</div>
<div class="mt-[24px]">
    <a class="btn btn-primary"  asp-action="Edit" asp-route-id="@Model?.Id">Sửa</a> |
    <a class="btn btn-primary"  asp-action="Index">Quay lại</a>
</div>
